!!!
%html
  %head
    %meta{charset: "UTF-8"}/
    %title 
      - if content_for?(:title)
        = yield_content :title 
        | 
      CSS3 Factory
    %link{href: "/stylesheets/style.css", media: "screen", rel: "stylesheet", type: "text/css"}/

    - if content_for?(:favicon)
      %link{ rel: 'icon', type: 'image/png', href: yield_content(:favicon) }
    - else
      %link{ rel: 'icon', type: 'image/png', href: '/factory.png' }

    - if content_for?(:title)
      %meta{content: "#{yield_content(:title)} | CSS3 Factory", property: "og:title"}/
    - else
      %meta{content: "CSS3 Factory", property: "og:title"}/

    %meta{content: "website", property: "og:type"}/
    %meta{content: "#{yield_content(:og_url)}", property: "og:url"}/
    %meta{content: "CSS3 Factory", property: "og:site_name"}/
    %meta{content: "57604055", property: "fb:admins"}/

    - if content_for?(:og_description)
      %meta{content: "#{yield_content(:og_description)}", property: "og:description"}/


    %script{src: "http://use.typekit.com/hyh0moi.js", type: "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body{ class: page_classes }

    #page
      = yield

      %footer
        .wrapper
          %ul
            %li Damian Galarza
            %li damian[at]damiangalarza.com
            %li.last
              Follow me on:
              = succeed "," do
                %a.alt-anchor{href: "http://www.facebook.com/dgalarza", target: "_blank"} Facebook
              = succeed "," do
                %a.alt-anchor{href: "http://www.twitter.com/dgalarza", target: "_blank"} Twitter
              %a.alt-anchor{href: "http://www.github.com/dgalarza", target: "_blank"} Github
          %p.design-label
            Design by:
            %a.alt-anchor{href: "http://www.erinbermudez.com", target: "_blank"} Erin Bermudez

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"

    = yield_content :scripts

    / END: Page
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30333735-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=527200053984565";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
