- content_for(:favicon, '/gradient-favicon.png')
- content_for(:title, 'CSS Gradient Generator')
- content_for(:og_url, 'http://www.css3factory.com/linear-gradients/')
- content_for(:og_description, "The CSS3 Gradient Generator is a showcase for the power of CSS gradients. It also provides a simple graphical user interface for working with CSS webkit gradients, allowing a user preview real time what their gradient will look like and provide the code for the gradient they generated.")
- content_for(:og_image, image_path('og-gradients.png'))

%header#site-header

  .ad-container.wrapper
    :plain
      <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1749070472517546" data-ad-slot="8475664483"></ins> 
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  .main-header.wrapper.clearfix
    %h1
      = link_to "/" do
        = image_tag "icons/css3-factory.png"
        CSS3 Factory

    .social-wrapper
      <div class="g-plusone" data-href="http://gradients.glrzad.com"></div>
      .fb-like{ 'data-href' => 'http://gradients.glrzad.com/', 'data-send' => false, 'data-layout' => 'button_count', 'data-action' => 'recommend', 'data-width' => 90, 'data-show-faces' => false }
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="#CSS3 Gradient Generator" data-url="http://gradients.glrzad.com" data-via="css3factory">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

.welcome
  .wrapper.clearfix
    .welcome-message
      %h2 Same Gradient Generator, With a New Look
      %p The coveted CSS3 Gradient Generator has undergone a redesign and moved to its new home within the CSS3 Factory. It has maintained all of it's tools and functions but looks even better now. The redesign enhances the generator's usability and I will be adding even more advanced functions soon.

    .callout
      = image_tag "html5-css3-real-world.png", alt: "HTML5 &amp; CSS3 For the Real World", class: 'book-image'
      .book-details
        %h4 Featured in
        %h3
          = link_to "HTML5 &amp; CSS3<br />For the Real World", "http://www.sitepoint.com/store/html5-css3-for-the-real-world/", target: '_blank'
          %p.authors Alexis Goldstein, Louis Lazaris &amp; Estelle Weyl

%section#generator{ "ng-controller" => "GradientGeneratorCtrl" }
  #generator-wrapper.wrapper
    %header.clearfix
      %h2 CSS Gradient Generator
      .ad-container
        :plain
          <ins class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-1749070472517546" data-ad-slot="9952397682"></ins>
          <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

    .swatch-controls.control-box
      %h3 Color Swatches

      %color-picker

      #swatches-container.clearfix
        %a.add-swatch-btn.add-swatch-trigger{ href: "#addColor", "ng-click" => "addSwatch()" }
          Add
        %ul.swatch-list.clearfix
          %li.color-swatch{ "ng-repeat" => "swatch in swatches", "ng-click" => "activateSwatch(swatch)", "ng-class" => "{active: isActiveSwatch(swatch)}" }
            %a.swatch{ href: '#swatch', "ng-style" => "{ backgroundColor: swatch.hexColor() }" }
            %a.remove-swatch{ href: '#remove', "ng-click" => "removeSwatch(swatch)" }

        .color-format
          %h3 Color Format
          %select{ name: 'color-format', "ng-model" => "colorFormat" }
            %option{ value: 'hex' } Hex
            %option{ value: 'rgb' } RGB
          %p.notice *The selection will be remembered next time.

    .gradient-controls.control-box
      %h3 Gradient Sample
      %gradient-preview#gradient-sample

      %slider

      #directions
        %h3 Gradient Direction

        .direction-field
          %label{ for: 'x-start' } X &ndash; Start
          %select.direction-control{ name: 'x-start', id: 'x-start', "ng-model" => "gradientDirection.xStart" }
            %option{ value: 'left', selected: 'selected' } Left
            %option{ value: 'right' } Right

        .direction-field
          %label{ for: 'y-start' } Y &ndash; Start
          %select.direction-control{ name: 'y-start', id: 'y-start', "ng-model" => "gradientDirection.yStart" }
            %option{ value: 'top', selected: 'selected' } Top
            %option{ value: 'bottom' } Bottom

        .direction-field
          %label{ for: 'x-end' } X &ndash; End
          %select.direction-control{ name: 'x-end', id: 'x-end', "ng-model" => "gradientDirection.xEnd" }
            %option{ value: 'left', selected: 'selected' } Left
            %option{ value: 'right' } Right

        .direction-field
          %label{ for: 'y-end' } Y &ndash; End
          %select.direction-control{ name: 'y-end', id: 'y-end', "ng-model" => "gradientDirection.yEnd"  }
            %option{ value: 'top' } Top
            %option{ value: 'bottom', selected: 'selected' } Bottom


  #code.wrapper
    .code-container.gradient-code
      %h3 Code
      %a.copy-trigger.copy-link{ href: '#copy', title: "Copy"} Copy
      %gradient-code.generated-code

#comments
  #disqus_thread.wrapper

- content_for :scripts do
  = javascript_include_tag "gradient_generator"

  :plain
    <script type="text/javascript">
    var disqus_shortname = 'glrzad';
    var disqus_url = 'http://www.glrzad.com/css/css3-webkit-gradient-generator/ ';
    var disqus_identifier = '34 http://www.glrzad.com/?p=34';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
